/**
 * Sections
 * ----------------------------------------------------------------------------
 */
.categories, .tags, .tags-terms, .categories-terms, .categories-posts, .tags-posts {
  font-weight:bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-decoration:none;
   a {
     border-bottom: none;
  }
}

.categories-terms, .tags-terms {
  text-transform: capitalize; 
  padding-right: 10px; 
  padding-left: 10px;
  font-size: 0.9rem;
  a {
       margin-right: 5px; 
       margin-left: 5px;
   }
}
.counter {
 text-align: center;
}

.team {
  font-weight: bold;
}

.teaminner {
  a {
    text-decoration: none;
    border-bottom: none;
  }
}

.categories {
  box-shadow: 3px 3px 2px grey;
}

.innercategorytag {
  margin-left: 2em;
}

.taglist {
  a {
    margin-left: 2em;
    margin-right: 2em;
  }
}

.categories::after, .tags::after, .tags-terms::before, .testimonial-author_o::after, 
.testimonial-author_o::before, .testimonial-avatar_o::before  {
  display: block;
  white-space: pre;
  content: "\a";
}

.tags-terms::after, .categories-terms::after {
  display: block;
  white-space: pre;
  content: "\a\a";
}

/* Collapsible Div */
.wrap-collabsible {
  margin-bottom: 1.0rem 0;
	
input[type='checkbox'] {
	 display: none;
	}
}
.lbl-toggle {
  display: block;
  font-size: 1.0rem;
  text-transform: capitalize;
  text-align: center;
  padding: .75rem;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: blue;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.block {
  padding-bottom: 1.33333em;
  padding-top: 3.33333em;

  &:not(.contact-block) + .block:not(.contact-block) {
    padding-top: 0;
  }

  .post-feed,
  .portfolio-feed {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.block-header {
  margin-bottom: 2.5em;
}

.block-title {
  font-size: 1.66667rem;
  margin: 0;
}

.block-subtitle {
  color: _palette(secondary);
  font-size: 0.88889rem;
  line-height: 1.5;
  margin: 0.83333rem 0 0;
}

.layout-tiles {
  width: 70%;
  height: 70%;
}

/* Contacts */
.contact-block {
  border-top: 1px solid _palette(border);
  margin-bottom: 0;
  padding-bottom: 2.5rem;
  padding-top: 3.33333rem;
}

/* Hero */
.hero-block {
  .block-header {
    margin-bottom: 0.83333em;
  }

  .block-title {
    font-size: 2.44444rem;
  }

  .block-content {
    color: _palette(secondary);
  }
}

/* Latest posts */
.posts-block,
.read-next {
  .post-header,
  .post-thumbnail {
    margin-bottom: 0.83333em;
  }

  .post-thumbnail {
    position: relative;
    width: 100%;

    &:before {
      content: "";
      display: block;
      padding-top: 60%;
    }

    img {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

/* Latest projects */
.portfolio-block {
  .post {
    &:last-child {
      .post-thumbnail {
        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }  

  .view-all  {
    box-sizing: border-box;
    color: _palette(accent);
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    padding: 0.75em 15px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;

    &:before,
    &:after {
      border: 3px solid _palette(accent);
      box-sizing: border-box;
      content: "";
      height: 35%;
      left: 0;
      position: absolute;
      transition: .3s ease;
      -webkit-transition: .3s ease;
      width: 100%;
    }

    &:before {
      border-bottom: 0;
      top: 0;
    }

    &:after {
      border-top: 0;
      bottom: 0;
    }
  }

  .post-link {
    &:hover,
    &:focus {
      .view-all {
        &:before,
        &:after {
          height: 50%;
        }
      }
    }
  }
}

/* Services */
.service {
  margin-bottom: 0.83333em;
}

.service-counter {
  display: inline-block;
  font-size: 1.33333rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 1.33333rem;
  min-width: 40px;
  padding: 0.88889rem 0.77778rem;
  position: relative;
  text-align: center;

  &:before,
  &:after {
    border: 3px solid _palette(border);
    box-sizing: border-box;
    content: "";
    height: 35%;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &:before {
    border-bottom: 0;
    top: 0;
  }

  &:after {
    border-top: 0;
    bottom: 0;
  }
}

.service-title {
  font-size: 1.33333rem;
  margin: 0 0 1rem;
}

/*Counter*/
.counter { 
  text-align: center;
}
.counter-value { 
   line-height:2em;
   text-align:center;
   padding:17px 0;
   display: inline;
 }
  .counter-title {
   content: attr(data-desc);
    display:block;
    text-transform:uppercase;
    font-weight: bold;
    line-height:1.2em;
  }

/* Testimonials */
.testimonial {
  border: 0;
  font-size: .85rem;
  line-height: 1.5;
  margin: 0 0 2.0em;
  padding: 0;
  text-align: center;
  
  button.button:before, 
  button.button:after, 
  a.button:before, 
  a.button:after {
    border: 0px solid;
  }  
   a.button {
     font-size: 14px;
     &:before {
       content:"\a";
       white-space: pre-wrap;
     }
  }
}

.testimonial-text {
  margin-bottom: 2.0rem;
  padding-top: 2.0rem;
  position: relative;

  &:before {
    display: block;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0;
  }
  
}

.testimonial-footer {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.testimonial-author {
  color: _palette(secondary);
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0;
  
  &:after, &:before {
    content:"\a";
    white-space: pre;
  }
}

.testimonial-avatar {
  border-radius: 50%;
  object-fit: cover;
  width:160px;
  height:160px;
}

.testimonial-avatar-small {
  border-radius: 50%;
}

.testimonials-block {
 margin-bottom: 1.1em;
}

/* Testimonials - Home Page */
.testimonial_o {
  border: 0;
  font-size: 1rem;
  margin: 0 1.66667em;
  padding: 0;
  text-align: left;
}

.testimonial-text_o {
  margin-bottom: 1.2rem;
  padding-top: 2.0rem;
  font-size: 0.85rem;

  &:before {
    color: _palette(accent);
    content: "\201C";
    display: block;
    font-size: 2.0rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0;
  }
}

.testimonial-author_o {
  color: _palette(secondary);
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.testimonial-avatar_o {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: left;
 
img {
  float: left;
  overflow: auto;
  vertical-align: top;
  }
}

.testimonials-list_o {
  box-sizing: border-box;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
  box-sizing: border-box;
}

.active {
  background-color: #717171;
}

.prev, .prev:hover {
  cursor: pointer;
  z-index: 10;	
  &::before {
    border: {
      top: 3px solid black;
      left: 3px solid black;
      radius: 1px;
    }
    content: '';
    display: block;
    height: 20px;
    transform: rotate(-45deg);
    width: 20px;
    float: left;
    margin-right: 20px;	  
  }
}

.next, .next:hover {
  cursor: pointer; 
  z-index: 10;
  &::after {
    border: {
      top: 3px solid black;
      right: 3px solid black;
      radius: 1px;
    }
    content: '';
    display: block;
    height: 20px;
    transform: rotate(45deg);
    width: 20px;
    float: right;
    margin-left: 20px;
  }
}

.prev:hover::before {
    border: {
      top: 3px solid blue;
      left: 3px solid blue;
      radius: 1px;
    }
}
.next:hover::after {
    border: {
      top: 3px solid blue;
      right: 3px solid blue;
      radius: 1px;
    }
}

@media only screen and (min-width: 601px) {
  .block {
    .post-feed,
    .services-list,
    .testimonials-list {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -0.83333rem;
    }

    .post:not(.project),
    .service,
    .testimonial {
      box-sizing: border-box;     
      padding-left: 0.83333rem;
      padding-right: 0.83333rem;
    }
    
    .post:not(.project),
    .service {
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }

  }

  .posts-block {
    .post, .slide {
      margin-bottom: 1.66667em;
    }
  }
}

@media only screen and (min-width: 801px) {
  .block {
    padding-bottom: 1em;
    padding-top: 3em;
  }

  .layout-tiles {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .block-inside {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0 -0.83333rem;

    .block-header,
    .block-content {
      box-sizing: border-box;
      padding-left: 0.83333rem;
      padding-right: 0.83333rem;
    }

    .block-header {
      -webkit-flex: 4;
      -ms-flex: 4;
      flex: 4;
      margin-bottom: 1.66667em;
    }

    .block-content {
      -webkit-flex: 8;
      -ms-flex: 8;
      flex: 8;
    }

    .block-title,
    .block-subtitle {
      max-width: 260px;
    }
  }
}
