/**
 * Sections
 * ----------------------------------------------------------------------------
 */
.block {
  padding-bottom: 3.33333em;
  padding-top: 3.33333em;

  &:not(.contact-block) + .block:not(.contact-block) {
    padding-top: 0;
  }

  .post-feed,
  .portfolio-feed {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
  
.portfolio-feed {
  article {
    .post-thumbnail {
      width: 50%;
      height: 50%;
    }
  }
}	

}

.block-header {
  margin-bottom: 2.5em;
}

.block-title {
  font-size: 1.66667rem;
  margin: 0;
}

.block-subtitle {
  color: _palette(secondary);
  font-size: 0.88889rem;
  line-height: 1.5;
  margin: 0.83333rem 0 0;
}

/* Contacts */
.contact-block {
  border-top: 1px solid _palette(border);
  margin-bottom: 0;
  padding-bottom: 2.5rem;
  padding-top: 3.33333rem;
}

/* Hero */
.hero-block {
  .block-header {
    margin-bottom: 0.83333em;
  }

  .block-title {
    font-size: 2.44444rem;
  }

  .block-content {
    color: _palette(secondary);
  }
}

/* Latest posts */
.posts-block,
.read-next {
  .post-header,
  .post-thumbnail {
    margin-bottom: 0.83333em;
  }

  .post-thumbnail {
    position: relative;
    width: 100%;

    &:before {
      content: "";
      display: block;
      padding-top: 60%;
    }

    img {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

/* Latest projects */
.portfolio-block {
  .post {
    &:last-child {
      .post-thumbnail {
        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }  

  .view-all  {
    box-sizing: border-box;
    color: _palette(accent);
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    padding: 0.75em 15px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;

    &:before,
    &:after {
      border: 3px solid _palette(accent);
      box-sizing: border-box;
      content: "";
      height: 35%;
      left: 0;
      position: absolute;
      transition: .3s ease;
      -webkit-transition: .3s ease;
      width: 100%;
    }

    &:before {
      border-bottom: 0;
      top: 0;
    }

    &:after {
      border-top: 0;
      bottom: 0;
    }
  }

  .post-link {
    &:hover,
    &:focus {
      .view-all {
        &:before,
        &:after {
          height: 50%;
        }
      }
    }
  }
}

/* Services */
.service {
  margin-bottom: 0.83333em;
}

.service-counter {
  display: inline-block;
  font-size: 1.33333rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 1.33333rem;
  min-width: 40px;
  padding: 0.88889rem 0.77778rem;
  position: relative;
  text-align: center;

  &:before,
  &:after {
    border: 3px solid _palette(border);
    box-sizing: border-box;
    content: "";
    height: 35%;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &:before {
    border-bottom: 0;
    top: 0;
  }

  &:after {
    border-top: 0;
    bottom: 0;
  }
}

.service-title {
  font-size: 1.33333rem;
  margin: 0 0 1rem;
}

/*Counter*/
.counter { 
  text-align: center;
}
.counter-value { 
   line-height:2em;
   text-align:center;
   padding:17px 0;
   display: inline;
 }
  .counter-title {
   content: attr(data-desc);
    display:block;
    text-transform:uppercase;
    font-weight: bold;
    line-height:1.2em;
  }

/* Testimonials */
.testimonial {
  border: 0;
  font-size: .85rem;
  line-height: 1.5;
  margin: 0 0 2.0em;
  padding: 0;
  text-align: center;
  
  button.button:before, 
  button.button:after, 
  a.button:before, 
  a.button:after {
    border: 0px solid;
  }  
   a.button {
     font-size: 14px;
     &:before {
       content:"\a";
       white-space: pre-wrap;
     }
  }
}

.testimonial-text {
  margin-bottom: 2.0rem;
  padding-top: 2.0rem;
  position: relative;

  &:before {
    display: block;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0;
  }
  
}

.testimonial-footer {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.testimonial-author {
  color: _palette(secondary);
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0;
  
  &:after, &:before {
    content:"\a";
    white-space: pre;
  }
}

.testimonial-avatar {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

@media only screen and (min-width: 601px) {
  .block {
    .post-feed,
    .services-list,
    .testimonials-list {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -0.83333rem;
    }

    .post:not(.project),
    .service,
    .testimonial {
      box-sizing: border-box;     
      padding-left: 0.83333rem;
      padding-right: 0.83333rem;
    }
    
    .post:not(.project),
    .service {
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }
    
    .testimonial {
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
    }
  }

  .posts-block {
    .post {
      margin-bottom: 1.66667em;
    }
  }
}

@media only screen and (min-width: 801px) {
  .block {
    padding-bottom: 3em;
    padding-top: 3em;
  }

  .block-inside {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0 -0.83333rem;

    .block-header,
    .block-content {
      box-sizing: border-box;
      padding-left: 0.83333rem;
      padding-right: 0.83333rem;
    }

    .block-header {
      -webkit-flex: 4;
      -ms-flex: 4;
      flex: 4;
      margin-bottom: 1.66667em;
    }

    .block-content {
      -webkit-flex: 8;
      -ms-flex: 8;
      flex: 8;
    }

    .block-title,
    .block-subtitle {
      max-width: 260px;
    }
  }
}
