{{ define "content" }}

<div class="outer">
  <div class="inner">
   <label for="search-input">Search</label>
   <input id="search-input" type="search" placeholder="Loading..." name="search" class="searchbox">
   <br/>
   <section id="search-results" class="search"></section>
  </div><!-- .inner-->
</div><!-- .outer -->

<script src="https://unpkg.com/lunr@2.3.9/lunr.js"></script>
<script type="text/javascript">
// define globale variables
var idx, searchInput, searchResults = null
var documents = []
function formatContent(content, searchTerm) {
    var termIdx = content.toLowerCase().indexOf(searchTerm.toLowerCase());
    if (termIdx >= 0) {
        var startIdx = Math.max(0, termIdx - 140);
        var endIdx = Math.min(content.length, termIdx + searchTerm.length + 140);
        var trimmedContent = (startIdx === 0) ? "" : "&hellip;";
        trimmedContent += content.substring(startIdx, endIdx);
        trimmedContent += (endIdx >= content.length) ? "" : "&hellip;"

        var highlightedContent = trimmedContent.replace(new RegExp(searchTerm, "ig"), function matcher(match) {
            return "<strong>" + match + "</strong>";
        });
        return highlightedContent;
    }
    else {
        var emptyTrimmedString = "&hellip;" + content.substr(580, 280);
        emptyTrimmedString += (content.length < 1000) ? "" : "&hellip;";
        return emptyTrimmedString;
    }
}
function renderSearchResults(results){
    if (results.length > 0) {
        // show max 10000 results
        if (results.length > 10000){
            results = results.slice(0,10000)
        }
         // reset search results
         searchResults.innerHTML = ''
         // get search query
          searchInput = document.getElementById('search-input')
          var query = searchInput.value
        // append results
        results.forEach(result => {        
            // create result item
            var article = document.createElement('article')
            var str = documents[result.ref].title
            var titleshort = str.replace("- Development Solutions Organization","")
            article.innerHTML =  `
            <a href="${result.ref}"><h3 class="title">${titleshort}</h3></a>
            <p>${formatContent(documents[result.ref].text, query)}</p>
            <br>
            `
            searchResults.appendChild(article)
        })
    // if results are empty
    } else {
        searchResults.innerHTML = '<p>No results found.</p>'
    }
}
function registerSearchHandler() {
    // register on input event
    searchInput.oninput = function(event) {
        // remove search results if the user empties the search input field
        if (searchInput.value == '') {            
            searchResults.innerHTML = ''
        } else {            
            // get input value
            var query = event.target.value
            // run fuzzy search
            var results = idx.search('title:' + query + '^100' + ' ' + query + '*^10' + ' ' + query + '~1')
            // render results
            renderSearchResults(results)
        }
    }
    // set focus on search input and remove loading placeholder
    searchInput.focus()
    searchInput.placeholder = ''
}
window.onload = function() {
    // get dom elements
    searchInput = document.getElementById('search-input')
    searchResults = document.getElementById('search-results')
    var query = searchInput.value
    // request and index documents
    fetch('/.netlify/functions/search?search=/', {
        method: 'get'
    }).then(
        res => res.json()
    ).then(
        res => {
            // index document
            idx = lunr(function() {
                this.ref('path')
                this.field('title', { boost: 10 })
                this.field('text')
                this.metadataWhitelist = ['position']
                res.forEach(function(doc) {
                    this.add(doc)
                    documents[doc.path] = {
                        'title': doc.title,
                        'text': doc.text,
                    }
                }, this)
            })
            // data is loaded, next register handler
            registerSearchHandler()
        }
    ).catch(
        err => {
            searchResults.innerHTML = '<p>${err}</p>'
        }
    )
}
</script>
{{ end }}
