{{ define "content" }}

<div class="outer">
  <div class="inner">
  <a href="/search" id="search-link">Search</a>
  <form action="https://www.google.com/search" method="get" class="search">
    <input type="hidden" name="q" id="q" value="site:dsowebsite-179d5.netlify.app">
    <label for="search-str">Search <small></label>
    <input type="text" name="q" id="search-str"></p>
    <button type="submit" class="submit">Search with Google</button>
  </form>
  </div><!-- .inner-->
</div><!-- .outer -->
