{{ define "content" }}

<div class="outer">
  <div class="inner">
    <form class="search" id="mySearch">
       <label for="searchval">Search</label>
       <input type="text" id="searchval"></p>
       <button type="submit" class="submit">Search</button>
    </form>
  <div id="result">
  </div>
  </div><!-- .inner-->
</div><!-- .outer -->
<script type="text/javascript">
document.getElementById('mySearch').addEventListener('submit', async event => {
    event.preventDefault()
	const searchtxt = document.getElementById('searchval').value
    const result = await fetch('/.netlify/functions/search?search=${searchtxt}').then(x => x.json())
  .netlify/functions/search?search=
  document.getElementById('result').innerText = JSON.stringify(result, null, 2)
})  
</script>
{{ end }}
