<div class="wrap-collabsible">
<input id="collapsible" class="toggle" type="checkbox"> <!-- add checked to keep open -->
<label for="collapsible" class="lbl-toggle">Apply to Be A DSO Consultant</label>
<div class="collapsible-content"> 
<form name="Application" method="POST" netlify-honeypot="bot-field" data-netlify="true" id="application-form"
  class="contact-form">
  <p class="screen-reader-text">
    <label>Don't fill this out if you're human: <input name="bot-field" /></label>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-user-name">Name</label>
    <input type="text" name="name" id="contact-user-name" class="form-input" placeholder="Enter your name">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-user-email">Email</label>
    <input type="email" name="email" id="contact-user-email" class="form-input" placeholder="Enter your email address">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-user-resume">Resume</label>
    <input type="file" name="resume" id="contact-user-resume" class="form-input" placeholder="Upload your resume">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-user-coverletter">Cover Letter (Optional)</label>
    <input type="file" name="coverletter" id="contact-user-coverletter" class="form-input" placeholder="Upload your cover letter">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-position">Position Requested</label>
    <textarea name="message" id="contact-position" class="form-textarea" rows="1" placeholder="Are you applying to be a Student Consultant, Engagement Lead or Advisor?"></textarea>
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-user-hub">Hub Location</label>
    <select name="name" id="contact-user-hub" class="form-input">
      <option hidden disabled selected value>Select an Option</option>
      <option value="Bayberkeley">Bay Area - Berkeley</option>
      <option value="Baystanford">Bay Area - Stanford</option>
      <option value="Pittsburgh">Pittsburgh</option>
      <option value="WashingtonDC">Washington DC</option>
      <option value="Other">DSO Global (Other)</option>
    </select>
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-message">Comments</label>
    <textarea name="message" id="contact-message" class="form-textarea" rows="5" placeholder="Message"></textarea>
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <input type="hidden" name="form-name" value="Application" />
  <p class="form-row form-submit">
    <button type="submit" class="button">Send Message</button>
  </p>
</form><!-- .application-form -->
</div>
</div>
