<p class="counter">
  {{ if .section.counterlist }}
     {{ range $counter_idx, $counter := .section.counterlist }}
	{{ $c :=add $counter_idx 1 }}
	<div id="counter" class="counter">
	   <div class="counter-title">{{ $counter.title }}</div>
	   <span class="money" style="display:{{ (cond (eq $counter.money true) "inline" "none") }}">$</span>	
	   <div class="counter-value" id="counter{{ $c }}" data-counterup-beginat="{{ $counter.num_start }}">{{ $counter.num_count }}</div>
	   <span class="percent" style="display:{{ (cond (eq $counter.percent true) "inline" "none") }}">%</span>	
	</div>
     {{ end }}
  {{ end }}
</p>
<script type="text/javascript">  
  jQuery(document).ready(function($) {
  $(".counter-value").counterUp({
    delay: {{ .section.num_delay }}, /* The delay in milliseconds per number count up */
    time: {{ .section.num_time }}, /*The total duration of the count up animation */
    offset: 100, 
  });
});
</script>

