<script src="{{ "assets/js/counter.js" | relURL }}"></script>
<script src="{{ "assets/js/waypoints.js" | relURL }}"></script>

<section id="{{ .section.section_id }}" class="block text-block outer">
  <div class="inner-small">
    <div class="block-header">     
      <div class="block-title counter-value" id="counter1" data-count="{{ .section.num_count }}" data-desc="{{ .section.title }}">0</div>
    </div>
  </div><!-- .inner -->
</section><!-- .block -->
<script>
  var counter1 = new CountUp("counter1", 0, {{ .section.num_count }}, 0, 2.0); 
  var waypoint1 = new Waypoint({
  element: document.getElementById('counter}'),
  handler: function(direction) {
    if (direction == "up") {
      counter1.reset();
    } else {
      counter1.start();
    }
  },
  offset: '50%'
});
</script>

<style>
 .counter-value, { 
   line-height:2em;
   text-align:center;
   padding:17px 0;
 }
  .counter-value:before {
   content: attr(data-desc);
    display:block;
    text-transform:uppercase;
    line-height:1.2em;
  }
</style>
