<section id="{{ .section.section_id }}" class="block text-block outer">
  <div class="inner-small">
      <div class="block-header">
	<div id="counter"> 
          {{ if .section.counterlist }}
	     {{ range $counter_idx, $counter := .section.counterlist }}
	        {{ $c :=add $counter_idx 1 }}
	           <div class="counter-value" id="counter{{ $c }}" data-counterup-beginat="{{ $counter.num_start }}" data-desc="{{ $counter.title }}">{{ $counter.num_count }}</div>
	     {{ end }}
	  {{ end }}
	</div> 
      </div><!-- .block-header -->
  </div><!-- .inner -->
<script type="text/javascript">  
  jQuery(document).ready(function($) {
  $(".counter-value").counterUp({
    delay: {{ .section.num_delay }}, /* The delay in milliseconds per number count up */
    time: {{ .section.num_time }}, /*The total duration of the count up animation */
    offset: 100, 
  });
});
</script>
</section>
