<div>
   {{ $related := .Site.RegularPages.Related . | first 10 | shuffle | first 4 }}
    {{ with $related }}
      <h3>See Also</h3></br>
      <div class="row">
	{{ range $related }}
	 <div class="col">
           <a href="{{ .RelPermalink }}" class="seealsoname">
           <figure>
	     <img class="seealso" src="{{ .Params.thumb_img_path }}" alt></a>
	     <figcaption><a href="{{ .RelPermalink }}">{{ .Title }}</a></figcaption>
	   </figure>
	 </div>
	{{ end }}
	</div>
    {{ end }}
</div>
