<div>
   {{ $related := .Site.RegularPages.Related . | first 8 | shuffle | first 4 }}
    {{ with $related }}
	<div class="also"><h3>See Also</h3></div></br>
      <div class="row">
	{{ range $related }}
	 <div class="col">
           <a href="{{ .RelPermalink }}" class="seealsoname">
           <figure>
	     <img class="seealso" src="{{ .Params.thumb_img_path }}" alt></a>
	     <figcaption><a href="{{ .RelPermalink }}">{{ .Title }}</a></figcaption>
	     <figcaption><a href="{{ .RelPermalink }}">{{ if .Params.teams }}{{ delimit last 1 .Params.teams " and " | safeHTML }}
		     {{ if .Params.location }} - {{ .Params.location }}{{ end }}{{ end }}</a></figcaption>
	   </figure>
	 </div>
	{{ end }}
	</div>
    {{ end }}
</div>
