<p class="related-content">
 {{ $pages :=  .Site.RegularPages.Related | first 100 }}
 {{ $projects :=  where .Site.RegularPages.Related "Section" "posts" }}
 {{ $teams :=  where .Site.RegularPages.Related "Section" "teams" }}
  {{ if .Params.dsotitle }}
    {{ $related := $teammates | first 5 }}
  {{ else }}
    {{ $related := $projects | first 5 }}
  {{ end }}
  {{ with $related }}
   <h3>See Also</h3>
     <ul>
	{{ range . }}
	  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
      </ul>
{{ end }}
</p>
