<span class="prev" onclick="plusSlides(-1)"></span>
<span class="next" onclick="plusSlides(1)"></span>
<div class="slide">
   {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
      <h3>See Also</h3>
	{{ range . }}
         <a href="{{ .RelPermalink }}"><img class="seealso" src="{{ .Params.thumb_img_path }}" class="testimonial-avatar"></a>
	{{ end }}
    {{ end }}
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);		
// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}	
function showSlides(n) { //manual slide functions
  var i;
  var slides = document.getElementsByClassName("slide");	
  if (n > slides.length) { slideIndex = 1;  }
  if (n < 1) { slideIndex = slides.length;  }
  for (i = 0; i < slides.length; i++) {
     slides[i].style.display = "none";
  }
    slides[slideIndex-1].style.display = "block";
}
</script>
