<p class="related-content">
 {{ $related :=  .Site.RegularPages.Related . | first 100 }}
 {{ $projects :=  where .Site.RegularPages.Related "Section" "posts" }}
 {{ $blog :=  where .Site.RegularPages.Related "Section" "blogposts" }}
  {{ if .Params.showcomments }}
    {{ $related := $blog | first 5 }}
  {{ else }}
    {{ $related := $projects | first 5 }}
  {{ end }}
  {{ with $related }}
   <h3>See Also</h3>
     <ul>
	{{ range . }}
	  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
      </ul>
{{ end }}
</p>
