<section id="{{ .section.section_id }}" class="block testimonials-block outer">
  <div class="inner">
     <div class="block-inside">
       <div class="block-header">
	    {{ if .section.title }}
	       <h2 class="block-title line-top">{{ .section.title }}</h2>
	    {{ end }}
        {{ if .section.subtitle }}
            <p class="block-subtitle">{{ .section.subtitle | safeHTML }}</p>
        {{ end }}
       </div><!-- .block-header -->       
       <div class="block-content">
	   {{ if .section.testimonialslist }}
	      <div class="testimonials-list_o">
		 <span class="prev" onclick="plusSlides(-1)"></span>
	         <span class="next" onclick="plusSlides(1)"></span>
		  {{ range $testimonial := .section.testimonialslist }}
		    <div class="slide">
		      <blockquote class="testimonial_o">
		        <span class="testimonial-text_o">{{ $testimonial.content | safeHTML }}</span>
		        <footer class="testimonial-footer_o">
		          <cite class="testimonial-author_o">{{ $testimonial.author }}</cite>
		        </footer>
		      </blockquote>
		    </div>
		  {{ end }}
	      </div><!-- .testimonials-list -->
	   {{ end }}
       </div><!-- .block-content -->
     </div><!-- .block-inside -->
  </div><!-- .inner -->
<script>
var slideIndex = 1;
showSlides(slideIndex);
	
// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("slide");
  if (n > slides.length) { slideIndex = 1;  }
  if (n < 1) { slideIndex = slides.length;  }
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) { slideIndex = 1} 
  slides[slideIndex-1].style.display = "block"; 
  setTimeout(showSlides, {{ .section.num_time }});
}
</script>
</section>
