<section id="{{ .section.section_id }}" class="block testimonials-block outer">
  <div class="inner">
    <div class="block-inside">
      <div class="block-header">
        <h2 class="block-title line-top">{{ .section.title }}</h2>
        {{ if .section.subtitle }}
        <p class="block-subtitle">
          {{ .section.subtitle | safeHTML }}
        </p>
        {{ end }}
      </div><!-- .block-header -->
      {{ if .section.testimonialslist }}
      <div class="block-content">
        <div class="testimonials-list">
          {{ range $testimonial := .section.testimonialslist }}
            <blockquote class="testimonial testimonial-footer">		
	      <p class="testimonial-text" >
                <cite class="testimonial-author">{{ $testimonial.author }}</cite>           
                <cite class="testimonial-author">{{ $testimonial.content | safeHTML }}</cite>  
	          {{ if .section.actions }}
                 {{ range $action := .section.actions }}
                    <a href="{{ $action.url | relURL }}" class="button">{{ $action.label }}</a>
              {{ end }}
              </p>
              {{ if $testimonial.avatar }}
                <img class="testimonial-avatar" src="{{ $testimonial.avatar | relURL }}" alt="Author avatar">
              {{ end }}	    
          </blockquote><!-- .testimonial -->        
        {{ end }}
        </div><!-- .testimonials-list -->        
      </div><!-- .block-content -->
      {{ end }}
    </div><!-- .block-inside -->
  </div><!-- .inner -->
</section><!-- .block -->
