<section id="{{ .section.section_id }}" class="block testimonials-block outer">
  <div class="inner">
    <div class="block-inside">
      <div class="block-header">
        <h2 class="block-title line-top">{{ .section.title }}</h2>
        {{ if .section.subtitle }}
        <p class="block-subtitle">
          {{ .section.subtitle | safeHTML }}
        </p>
        {{ end }}
      </div><!-- .block-header -->
      {{ if .section.testimonialslist }}
      <div class="block-content">
          {{ range $testimonial := .section.testimonialslist }}
            {{ if  $testimonial.content }}
	      <input type="checkbox" name="slider" class="faux-ui-facia">
	      <div class="testimonial-footer_o slide">	
                <blockquote class="testimonial_o">
	           <p class="testimonial-text_o">{{ $testimonial.content | safeHTML }}</p>
                   {{ if $testimonial.avatar }}
                     <img class="testimonial-avatar_o" src="{{ $testimonial.avatar | relURL }}" alt="Author avatar">
                   {{ end }}
                 <cite class="testimonial-author_o">{{ $testimonial.author }}</cite>
		</div><!-- .testimonial -->
            {{ end }}
          {{ end }}
        </blockquote>
      </div><!-- .block-content -->
      {{ end }}
    </div><!-- .block-inside -->
  </div><!-- .inner -->
</section><!-- .block -->
